#thumbnails {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#thumbnails img {
  height: 100%;
  max-height: 100px;
  width: auto;
  object-fit: cover;
  cursor: pointer;
}

#bigDisplay img {
  max-height: 70vh;
  width: 100%;
  object-fit: contain;
}
