body {
    margin:0;
    padding: 16px;
}

#bigDisplay,
#thumbnails,
#Buttoncontrols {
  max-width: 100%;
}

#bigDisplay {
  width: 100%;
}
#thumbnails {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  overflow-x: auto;
  white-space: nowrap;

}

#thumbnails img {
  height: 100%;
  max-height: 100px;
  width: auto;
  object-fit: cover;
  cursor: pointer;
}

#bigDisplay img {
  max-height: 70vh;
  width: 100%;
  object-fit: contain;
}


#Buttoncontrols {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 16px;
}

#Buttoncontrols button {
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid brown;
    background: beige;
    font-size: 14px;
    cursor: pointer;

}

#Buttoncontrols button:hover {
    background: #907e47;

}

#Buttoncontrols button:focus {
  outline: 3px solid #7aa874;
  outline-offset: 2px;
}

@media(max-width:600px){
    #thumbnails img {
  height: 100%;
  max-height: 50px;
  width: auto;
  object-fit: cover;
  cursor: pointer;
padding-bottom: 8px;
}
    
}
